<app-header-component></app-header-component>

<div class="container-fluid jumbotron">
<div class="container">
<div class="row">
	<div class="col-sm-8">
  		<div class="row">

        <div class="col-sm-12 well">
         <app-main-component></app-main-component>
        </div>
  			<div class="col-sm-12 well">
  				 <app-views-component></app-views-component>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-sm-12 well">
  				<app-description-component></app-description-component>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-sm-12 well">
  				<app-comment-component></app-comment-component>
  			</div>
  		</div>
	</div>

	<div class="col-sm-1"></div>

	<div class="col-sm-3 well">
		<app-menu-component></app-menu-component>
	</div>
</div>
</div>


</div>
<app-footer-component></app-footer-component>
